body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* ----------- navbar menu header-------- */
.nav-bar{
    padding: 0;
    display: flex;
    justify-content: space-between;  
    background-color: white;  
}
    .nav-bar-left{
        display: flex;
        justify-self: flex-start;
    }
        .logo-shop{
            max-width: 9rem;
            max-height: fit-content;
            text-align: center;
        }

        .nav-menu{            
            display: inline-flex;
        }
           .nav-menu a{
                padding: 1rem;
                color: #6c757d;
                text-decoration: none;  
                font-size: 18px; 
            }
                .nav-menu a:hover{
                    color: #380B10;
                    font-weight: 500;
                }
                
    .nav-bar-right{
        display: flex;
        justify-self:flex-end;
        text-align: center;
        padding: 1rem;
    }

       input.search{
            max-height: 2rem;
            border: 1px solid #6c757d ;
            border-radius: 5px;
            color: #380B10;
            font-size: 18px;
            padding: 5px;
        }

        .item-search{
            padding: 0 1rem;
        }
            .item-search a svg:hover{
                fill: #380B10;
                width: 27px;
            }

        .item-cart{            
            padding: 0 1rem;
            fill:gray;
            cursor: none;
        }
            .item-cart a svg:hover{
                fill:gray;
                cursor: none;
            }

        .text-end{
            padding: 0 1rem;
        }
            .text-end a.btn-login{
                text-decoration: none;
                padding-right:1rem;
                color: #6c757d;
                font-size: 18px;
            }
                .text-end a.btn-login:hover{
                    color: #380B10;
                    font-weight: 500;
                }

            .text-end button{
                text-decoration: none;
                padding-right:1rem;
                color: #380B10;
                font-size: 18px;
                font-weight: 500;
                cursor: none;
                background-color:#d7dbdf;                
                border-color: transparent;
            } 
                .text-end button:hover{
                    color: #380B10;
                    background-color:#d7dbdf;
                    cursor: none;
                    border-color: transparent;
                }
/* ------------- sign up form ------ */

a{
    text-decoration: none !important;
}

.row.justify-content-center {
    padding: 1%;
}



.card.card-form {
    border-radius: 10px;
}

    .card-header h4{
        text-align: center;
    }
    .btn-conf{
        font-family: 'Lato', sans-serif;
        text-align:center ;
        margin-bottom: 0.5rem;
        border-radius: 6px;
        border: 2px solid green ;
        width: 16rem;
        font-size: 20px;
        font-weight: 400;
        color: green;
    }
        .btn-conf:hover{
            color: white;
            background-color: green;
        }
    .btn-reset{
        font-family: 'Lato', sans-serif;
        text-align:center ;
        margin-bottom: 0.5rem;
        border-radius: 6px;
        border: 2px solid rgb(122, 7, 7) ;
        width: 16rem;
        font-size: 20px;                
        font-weight: 400;
        color: rgb(122, 7, 7);
    }
        .btn-reset:hover{
            color: white;
            background-color:rgb(122, 7, 7);
        }
 /* ----------- footer -------- */

.footer{
    background-color: #380b10;
}
    .foot-text-copy p{ 
        color: whitesmoke;
        font-size: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-top: 0.5rem;
    }

    .icon{
        display: flex;
        justify-content: center;
        padding-bottom: 0.5rem;
    }