/* Show it is fixed to the top */
body {
  padding-top: 5rem;
  font-family: Arial, Helvetica, sans-serif;
}

/* ----------- navbar menu header-------- */
.navbar.navbar-expand-md.navbar-dark.fixed-top {
  background-color: white;
  
}
.logo-shop {
  max-width: 9rem;
  max-height: fit-content;
  text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
  color: #6c757d;
  font-size: 18px;
  padding: 1rem;
}
.navbar-dark .navbar-nav .nav-link:hover {
  color: #380b10;
  font-weight: 500;
}

.item-search {
  padding: 0.5rem;
}
.item-search a svg:hover {
  fill: #380b10;
  width: 27px;
}

.item-cart {
  fill: gray;
  padding: 1rem;
  cursor: none;
}
.item-cart a svg:hover {
  fill: gray;
  cursor: none;
}

/* .text-end{
          padding: 0 0.5rem;
      } */
li.nav-item a.login {
  text-decoration: none;
  padding-right: 1rem;
  color: #380b10;
  font-size: 18px;
  cursor: unset;
  padding: 0 0.5rem;
}
li.nav-item a.login:hover{
    color: #380b10;
    cursor: unset;
}
li.nav-item.signup {
  padding: 0.5rem;
}
.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

/* ----------- login form -------- */

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  margin: 150px auto;
}

.body {
  position: relative;
  width: 720px;
  height: 440px;
  margin: 20px auto;
  border: 1px solid #dddd;
  border-radius: 18px;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box-1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.box-2 {
  padding: 10px;
}

.box-1,
.box-2 {
  width: 50%;
}

.h-1 {
  font-size: 24px;
  font-weight: 700;
}

.text-muted {
  font-size: 14px;
}

.container .box {
  width: 100px;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid transparent;
  text-decoration: none;
  color: #615f5fdd;
}

.box:active,
.box:visited {
  border: 2px solid #ee82ee;
}

.box:hover {
  border: 2px solid #ee82ee;
}

.btn.btn-primary {
  background-color: transparent;
  color: #ee82ee;
  border: 0px;
  padding: 0;
  font-size: 14px;
}

.btn.btn-primary .fas.fa-chevron-right {
  font-size: 12px;
}

.footer .p-color {
  color: #ee82ee;
}

.footer.text-muted {
  font-size: 10px;
}

.fas.fa-times {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 20px;
  width: 20px;
  background-color: #f3cff379;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fas.fa-times:hover {
  color: #ff0000;
}


.box-2.d-flex.flex-column.h-100 {
  background-color: white;
}
.login-form {
  margin: 15.75% 0;
}
.row {
  display: flex;
  justify-content: center;
}
#img-form {
  border-radius: 10px 0 0 10px;
  opacity: 0.6;
  height: 20.265rem;
  z-index: 5;
  position: relative;
  right: 18rem;
}

.form-right {
  height: 20.5rem;
  border: 3px solid whitesmoke;
  border-radius: 0 10px 10px 0;
  border-left: transparent;
  background-color: white;
  z-index: 9;
  text-align: center;
  position: absolute;
  left: 68rem;
}
#head-login-form {
  font-size: 35px;
  margin: 2rem 6rem;
  font-family: "Lato", sans-serif;
}
#text-user {
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 3px;
  font-size: 20px;
  border-radius: 6px;
  border: 1px solid #6c757d;
  margin: 1rem 3rem;
}
#text-psw {
  font-family: "Lato", sans-serif;
  text-align: center;
  padding: 3px;
  font-size: 20px;
  margin: 1rem 3rem;
  margin-bottom: 2rem;
  border-radius: 6px;
  border: 1px solid #6c757d;
}

.btn-conf {
  font-family: "Lato", sans-serif;
  text-align: center;
  border-radius: 6px;
  border: 2px solid green;
  width: 16rem;
  font-size: 20px;
  font-weight: 400;
  color: green;
  margin: 1rem 3rem;
}
.btn-conf:hover {
  color: white;
  background-color: green;
}
.btn-reset {
  font-family: "Lato", sans-serif;
  text-align: center;
  border-radius: 6px;
  border: 2px solid rgb(122, 7, 7);
  width: 16rem;
  font-size: 20px;
  font-weight: 400;
  color: rgb(122, 7, 7);
  margin-left: 3rem;
}
.btn-reset:hover {
  color: white;
  background-color: rgb(122, 7, 7);
}
/* ----------- footer -------- */

.footer {
  background-color: #380b10;
}
.foot-text-copy p {
  color: whitesmoke;
  font-size: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-top: 0.5rem;
}

.icon {
  display: flex;
  justify-content: center;
  padding-bottom: 0.5rem;
}

@media (max-width: 767px) {
    body {
      padding: 10px;
    }
  
    .body {
      width: 100%;
      height: 100%;
    }
  
    .box-1 {
      width: 100%;
    }
  
    .box-2 {
      width: 100%;
      height: 440px;
    }
  }