/* Show it is fixed to the top */
body {
    min-height: 75rem;
    padding-top: 4.5rem;
  }

/* ----------- navbar menu header-------- */
.navbar.navbar-expand-md.navbar-dark.fixed-top{
  background-color: white;
}
  .logo-shop{
    max-width: 9rem;
    max-height: fit-content;
    text-align: center;
  }
  .navbar-dark .navbar-nav .nav-link{
    color: #6c757d;
    font-size: 18px; 
    padding: 1rem;
  }
  .navbar-dark .navbar-nav .nav-link:hover{
        color: #380B10;
        font-weight: 500;
    }
    
    .item-search{
      padding: 0.5rem;
    }
      .item-search a svg:hover{
          fill: #380B10;
          width: 27px;
      }

    .item-cart{            
        padding:  1rem;
        cursor: pointer;
    }
        .item-cart a svg:hover{
            fill: black;
            cursor: pointer;
        }

        /* .text-end{
          padding: 0 0.5rem;
      } */
         .a.btn-login{
              text-decoration: none;
              padding-right:1rem;
              color: #380B10;
              font-size: 18px;
              font-weight: 600;
              cursor: unset;
              padding: 0 0.5rem;
          }
          li.nav-item.signup {
            padding: 0.5rem;
        }
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }