body {
    font-size: .875rem;
  }
  button.btn.btn-success.btn-addstf {
    display: flex;
    position: absolute;
    right: 38px;
}
  .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
  }
  
  /*
   * Sidebar
   */
  
  .sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  }
  
  @media (max-width: 767.98px) {
    .sidebar {
      top: 5rem;
    }
  }
  
  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }
  
  .sidebar .nav-link {
    font-weight: 500;
    color: #333;
  }
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
  }
  
  .sidebar .nav-link.active {
    color: #2470dc;
  }
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }
  
  .sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
  }
  
  /*
   * Navbar
   */
  
  .navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
  }
  
  .navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
  }
  
  .navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
  }
  
  .form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
  }
  
  .form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
  }
  
  nav#sidebarMenu {
    padding-top: 101px;
}

a.nav-link.px-3 {
    background-color:#380B10;
    margin-right: 2rem;
    border-radius: 8px;
}


/* ------------- sign up form ------ */

a{
  text-decoration: none !important;
}

.row.justify-content-center {
  padding: 1%;
}
input.form-control .ml-0{
  margin-left: 0;
}
.card.card-form {
  border-radius: 10px;
}

  .card-header h4{
      text-align: center;
  }
  .btn-conf{
      font-family: 'Lato', sans-serif;
      text-align:center ;
      margin-bottom: 0.5rem;
      border-radius: 6px;
      border: 2px solid green ;
      width: 16rem;
      font-size: 20px;
      font-weight: 400;
      color: green;
  }
      .btn-conf:hover{
          color: white;
          background-color: green;
      }
  .btn-reset{
      font-family: 'Lato', sans-serif;
      text-align:center ;
      margin-bottom: 0.5rem;
      border-radius: 6px;
      border: 2px solid rgb(122, 7, 7) ;
      width: 16rem;
      font-size: 20px;                
      font-weight: 400;
      color: rgb(122, 7, 7);
  }
      .btn-reset:hover{
          color: white;
          background-color:rgb(122, 7, 7);
      }