
/* ------------- sign up form ------ */

a{
    text-decoration: none !important;
}

.row.justify-content-center {
    padding: 1%;
}
input.form-control .ml-0{
    margin-left: 0;
}
.card.card-form {
    border-radius: 10px;
}

    .card-header h4{
        text-align: center;
    }
    .btn-conf{
        font-family: 'Lato', sans-serif;
        text-align:center ;
        margin-bottom: 0.5rem;
        border-radius: 6px;
        border: 2px solid green ;
        width: 16rem;
        font-size: 20px;
        font-weight: 400;
        color: green;
    }
        .btn-conf:hover{
            color: white;
            background-color: green;
        }
    .btn-reset{
        font-family: 'Lato', sans-serif;
        text-align:center ;
        margin-bottom: 0.5rem;
        border-radius: 6px;
        border: 2px solid rgb(122, 7, 7) ;
        width: 16rem;
        font-size: 20px;                
        font-weight: 400;
        color: rgb(122, 7, 7);
    }
        .btn-reset:hover{
            color: white;
            background-color:rgb(122, 7, 7);
        }