body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/* ----------- navbar menu header-------- */
.nav-bar{
    display: flex;
    justify-content: space-between;    
}
    .nav-bar-left{
        display: flex;
        justify-self: flex-start;
    }
        .logo-shop{
            max-width: 9rem;
            max-height: fit-content;
            text-align: center;
        }

        .nav-menu{            
            display: inline-flex;
        }
           .nav-menu a{
                padding: 1rem;
                color: #6c757d;
                text-decoration: none;  
                font-size: 18px; 
            }
                .nav-menu a:hover{
                    color: #380B10;
                    font-weight: 500;
                }
                
    .nav-bar-right{
        display: flex;
        justify-self:flex-end;
        text-align: center;
        padding: 1rem;
    }

       input.search{
            max-height: 2rem;
            border: 1px solid #6c757d ;
            border-radius: 5px;
            color: #380B10;
            font-size: 18px;
            padding: 5px;
        }

        .item-search{
            padding: 0 1rem;
        }
            .item-search a svg:hover{
                fill: #380B10;
                width: 27px;
            }

        .item-cart{            
            padding: 0 1rem;
        }
            .item-cart a svg:hover{
                fill: #380B10;
                width: 30px;
                height: 30px;
            }

        .text-end{
            padding: 0 1rem;
        }
           .text-end a.btn-login{
                text-decoration: none;
                padding-right:1rem;
                color: #6c757d;
                font-size: 18px;
            }
                .text-end a.btn-login:hover{
                    color: #380B10;
                    font-weight: 500;
                }


/* ----------- slide -------- */

.slide {
    background-color: #380B10;
    font-family: Arial, Helvetica, sans-serif;
}
    .show-right{
        justify-content: center;
        color: whitesmoke;
        padding: 3rem;
    }
        .show-right h1{
            font-size: 2rem;
            font-weight: 400;
        }


/* ----------- content -------- */
.alert-header{
    background-color: #380B10;
    color: whitesmoke;
}
    h1.head-content{
        text-align: center;
        padding: 0.1rem;
    }

    .row-content{
        text-align: center;
        display: flex;
        justify-content: center;
        margin-bottom: 0.1rem;
    }
        .card-body{
            height: auto;
            background-color: #380b10;
            border-radius: 10px 30px 10px 30px;
            text-align: center;
            width: auto;
            color: whitesmoke;
        }
            .card-body svg{
                width: 10rem;
            }

/* ----------- footer -------- */

.footer{
    background-color: #380b10;
}
    .foot-text-copy p{ 
        color: whitesmoke;
        font-size: 15px;
        text-align: center;
        display: flex;
        justify-content: center;
        padding-top: 0.1rem;
    }

    .icon{
        display: flex;
        justify-content: center;
        padding-bottom: 0.1rem;
    }